---
import Layout from '../layouts/Layout.astro';
import About from "../content/about.astro";
import Experiences from "../content/experiences.astro";
import Team from "../content/team.astro";
import Projects from "../content/projects.astro";
import Contact from '../content/contact.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<p>We are a youth group based in Athens, Greece, aiming to connect young people through art, science, and non-formal education.</p>
	<div class="section">
		<About />
	</div>
	<div class="section">
		<Experiences />
	</div>
	<div class="section">
		<Team />
	</div>
	<div class="section">
		<Projects />
	</div>
	<div class="section">
		<Contact />
	</div>
</Layout>

<style is:global>
	.section summary h2 {
		cursor: pointer;
	}
</style>