<p>
    You can reach us at <a href="mailto:visionnetworkeu@gmail.com">visionnetworkeu@gmail.com</a>
    <!-- <br />
    or on our social media:
    <br />
    <a href="https://www.facebook.com/visionnetworkeu/">Facebook</a>
    <br />
    <a href="https://www.instagram.com/visionnetworkeu/">Instagram</a> -->
</p>

<style>
    @media (max-width: 600px) {
       a {
        word-break: break-all;
       }
    }
</style>